{% extends "skel.html" %}

{% block title %}Digest{% endblock %}

{% block head %}
    <style>
        .emphasis {font-weight: bolder}
        .product-name {font-weight: bold}
        .product-separator {border-top: dotted 1px;}
        .time {font-style: italic}
        .calculation {font-wieght: bold}
    </style>
{% endblock %}

{% block content %}
    <h1>Digest</h1>
    <hr/>
    <ul>
    {% for entry in entries %}
        <li>
            <p>iMIS ID:<span class="emphasis">{{ entry.id|e }}</span><br/>Individual's Name: ______________________________</p><p>
            {% if entry.alerts_vec().len() == 1 %}
                Product
            {% else %}
                Products
            {% endif %}
            to check:<br/<br/>
            {% for alert in entry.alerts_vec() %}
                <span class="product-name">{{ alert.0|e }}</span> (alert at
                {% if alert.1.len() == 1 %}
                    <span class="time">{{ alert.1[0]|e }}</span>
                {% else %}
                    {% for time in alert.1 %}
                        <span class="time">{{ time|e }}</span>
                    {% endfor %}
                {% endif %}
                )</p><br/><br/><p><span class="calculation">Was:</span>__________ @ __________<br/><br/><br/><br/>
                <span class="calculation">New:</span>__________ @ __________</p><br/><br/><br/><br/>INIT: _____<br/><br/>
            {% endfor %}
        </li>
        <br/><hr/><br/>
    {% endfor %}
    </ul>
{% endblock %}