{% extends "skel.html" %}

{% block title %}Digest{% endblock %}

{% block head %}
<style>
        .page-header {text-align: center}
        .emphasis {font-weight: bolder}
        .product-name {font-weight: bold}
        .time {font-style: italic}
        .calculation {font-weight: bold}
	ul {columns: 2;
	    list-style-type: none;}
    </style>
{% endblock %}

{% block content %}
    <h1 class+"page-header">Digest</h1>
    <hr/>
    <ul>
    {% for entry in entries %}
        <li>
            <p>iMIS ID:<span class="emphasis">{{ entry.id|e }}</span><br/>Individual's Name: ______________________________</p><p>
            {% if entry.alerts_vec().len() == 1 %}
                Product
            {% else %}
                Products
            {% endif %}
            to check:<br/><br/>
            {% for alert in entry.alerts_vec() %}
                <span class="product-name">{{ alert.0|e }}</span><br>(alert at
                {% if alert.1.len() == 1 %}
                    <span class="time">{{ alert.1[0]|e }}</span>
                {% else %}
                    {% for time in alert.1 %}
                        <span class="time">{{ time|e }}</span>
                    {% endfor %}
                {% endif %}
                )</p><p><span class="calculation">Was:</span>__________ @ __________<br/><br/><br/>
                <span class="calculation">New:</span>__________ @ __________</p><br/><br/>INIT: _____<br/>
            {% endfor %}
        </li>
        <hr/>
    {% endfor %}
    </ul>
{% endblock %}
